/_resources
/.tmp

/bower_components
/node_modules
/app/cache/*
/app/logs/*
/bin
/vendor

/web/assets/*
/web/bundles/*
/web/content/*
/web/vendor/*
/web/favicon/*
/web/fonts/*
/web/images/*
/web/js/*
/web/css/*
/web/cache/*

*.log
parameters.yml
