/_resources
/.tmp

/bower_components
/node_modules
/app/cache/*
/app/logs/*
/bin
/var
/vendor

/web/bundles/*
/web/content/*
/web/vendor/*
/web/fonts/*
/web/images/*
/web/js/*
/web/css/*
/web/*.ico
/web/*.png
/web/*.xml
/web/*.json

*.log
parameters.yml
