{% extends 'layout/default.html.twig' %}

{% set title = 'Kontakty' %}

{% block content %}
<section class="section">
    <div class="container">
        <h2>Kontakty</h2>
    </div>
</section>
{% endblock %}
