{% extends 'layout/default.html.twig' %}

{% set title = 'Akce' %}

{% block content %}
<section class="section">
    <div class="container">
        <h2>Akce</h2>
    </div>
</section>
{% endblock %}
