{% extends 'layout/default.html.twig' %}

{% set title = 'Odkazy' %}

{% block content %}
<section class="section">
    <div class="container">
        <h2>Odkazy</h2>
        <h3>Středisko</h3>
        <ul class="list list--unstyled">
            <li>
                <a href="http://19-stredisko.skauting.cz">19. středisko Ladislava Ruska</a>
            </li>
            <li>
                <a href="http://19-stredisko.skauting.cz/poutnici/">2. oddíl Poutníci Čechovice</a>
            </li>
            <li>
                <a href="http://andromeda.skauting.cz/">16. oddíl Andromeda, Velký Týnec</a>
            </li>
            <li>
                <a href="http://19-stredisko.skauting.cz/hejtmanka/">Chata Hejtmanka</a>
            </li>
        </ul>
        <h3>Ostatní</h3>
        <ul class="list list--unstyled">
            <li>
                <a href="http://www.skaut.cz/">Junák – český skaut</a>
            </li>
            <li>
                <a href="http://www.skautskyinstitut.cz">Skautský institut</a>
            </li>
            <li>
                <a href="http://skauting.cz/olomouc">Skauti okresu Olomouc</a>
            </li>
            <li>
                <a href="http://krizovatka.skaut.cz/">Skautská křižovatka</a>
            </li>
        </ul>
    </div>
</section>
{% endblock %}
