.footer {
    background-color: @brand-gray;
    color: @brand-gray-light;

    &__container {
        display: flex;
        height: 100px;

        > div {
            display: flex;
        }
    }

    &__legal {
        letter-spacing: .05em;
    }

    @media (max-width: @screen-phone-max) {

        &__container {
            flex-direction: column;
            justify-content: flex-end;

            & > div {
                justify-content: center;
            }
        }

        &__social img {
            margin: 1.5em .5em;
        }

        &__legal {
            font-size: .7em;
        }
    }

    @media (min-width: @screen-tablet) {

        &__container {
            align-items: flex-end;

            > div {
                width: 50%;

                &:first-child {
                    justify-content: flex-end;
                }

                &:last-child {
                    order: -1;
                }
            }
        }

        &__social img {
            margin-left: 1em;
        }

        &__legal {
            font-size: .8em;
        }
    }
}
