.header {
    background-color: @brand-blue;

    &__container {
        width: calc(100% - 2 * @container-horizontal-offset);
        max-width: @container-max-width;
        padding: @container-vertical-offset / 2 @container-horizontal-offset;
        margin: 0 auto;
    }

    &__heading {
        margin: 0;
    }

    &__brand {
        display: flex;
        align-items: center;
        margin: 0;
    }

    &__logo {
        width: 17px;
        height: 30px;
        margin-right: .8rem;
        background: url("../images/logo-white.svg") center center no-repeat;
        background-size: 17px 30px;
    }

    &__title {
        display: flex;
        text-transform: uppercase;
        color: #fff;

        & > span {

            &:nth-child(1) {
                font-size: 1.3rem;
            }
        }
    }

    @media (max-width: @screen-phone-max) {
        overflow: hidden;
        max-height: @header-height-phone;
        transition: max-height .4s cubic-bezier(0.39, 0.58, 0.57, 1);
        will-change: max-height;

        &__heading {
            display: inline-block;
        }

        &__title > span {

            &:nth-child(2),
            &:nth-child(3) {
                display: none;
            }
        }

        &--sticky {
            display: none;
        }

        &--has-navigation-open {
            max-height: @navigation-items * 90px;
            transition: max-height .5s ease-in-out;
        }
    }

    @media (min-width: @screen-tablet) {

        &__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__logo {
            width: 40px;
            height: 70px;
            background-size: 40px 70px;
        }

        &__title {
            flex-direction: column;
        }

        &__title > span {
            line-height: 100%;

            &:nth-child(1) {
                font-size: 1.85rem;
            }

            &:nth-child(2) {
                font-size: .85rem;
            }

            &:nth-child(3) {
                font-size: 1.35rem;
            }
        }

        &--sticky {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            transform: translate3d(0, -100%, 0);
            transition: transform .2s;
            will-change: transform;

            .navigation__stripe {
                display: none;
            }

            &--visible {
                transform: translate3d(0, 0, 0);
            }
        }

        &--inverted {
            background-image: linear-gradient(#fff, fade(#fff, 70%));
            border-bottom: 1px solid lighten(#000, 70%);

            .header__logo {
                background-image: url("../images/logo-dark.svg");
                width: 17px;
                height: 30px;
                background-size: 17px 30px;
            }

            .header__title > span {
                color: @brand-gray-dark;

                &:nth-child(2),
                &:nth-child(3) {
                    display: none;
                }
            }
        }
    }

    @media (min-width: @screen-desktop) {

        &__logo {
            width: 45px;
            height: 80px;
            background-size: 45px 80px;
        }

        &__title > span {

            &:nth-child(1) {
                font-size: 2.15rem;
            }

            &:nth-child(2) {
                font-size: 1rem;
            }

            &:nth-child(3) {
                font-size: 1.57rem;
            }
        }

        &--inverted {

            .header__logo {
                width: 22px;
                height: 40px;
                background-size: 22px 40px;
            }
        }
    }
}
