{% extends 'layout/base.html.twig' %}

{% set bodyClass = '' %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/main.min.css') ~ '?v=' ~ version }}" />
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('js/main.min.js') ~ '?v=' ~ version }}"></script>
{% endblock %}

{% block sublayout %}
    <header id="header" class="header">
        <div class="navigation__stripe">
            <div id="navigation-arrow" class="navigation__arrow"></div>
        </div>
        <div class="header__container">
            <h1 class="header__heading">
                <a id="header-brand" class="header__brand" href="#">
                    <span class="header__logo" title="3. skautský oddíl Kamzíci Doloplazy"></span>
                    <span class="header__title">
                        <span class="text--semibold">Kamzíci</span>
                        <span class="text--thin">3. skautský oddíl</span>
                        <span class="text--regular">Doloplazy</span>
                    </span>
                </a>
            </h1>
            <nav id="navigation" class="navigation">
                <h2 class="sr-only">Hlavní navigace</h2>
                <ul id="navigation-list" class="navigation__list">
                    <li class="navigation__item navigation__item--active">
                        <a class="navigation__link" href="#">O nás</a>
                    </li>
                    <li class="navigation__item">
                        <a class="navigation__link" href="#">Akce</a>
                    </li>
                    <li class="navigation__item">
                        <a class="navigation__link" href="#">Družiny</a>
                    </li>
                    <li class="navigation__item">
                        <a class="navigation__link" href="#">Kontakty</a>
                    </li>
                    <li class="navigation__item">
                        <a class="navigation__link" href="#">Ke stažení</a>
                    </li>
                    <li class="navigation__item">
                        <a class="navigation__link" href="#">Odkazy</a>
                    </li>
                    <li class="navigation__item">
                        <input type="search" class="navigation__link navigation__search visible--phone-max" placeholder="Hledat" />
                        <a href="#" class="navigation__link navigation__search visible--tablet-min"></a>
                    </li>
                </ul>
                <div id="navigation-toggle" class="navigation__toggle">
                    <div class="navigation__toggle__container">
                        <div class="navigation__toggle__top">
                            <span class="navigation__toggle__bar navigation__toggle__bar--first"></span>
                            <span class="navigation__toggle__bar navigation__toggle__bar--second"></span>
                        </div>
                        <div class="navigation__toggle__bottom">
                            <span class="navigation__toggle__bar navigation__toggle__bar--third"></span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <main class="main">
        <section class="section section--gray-light">
            <div class="container">
                <h2>Vítejte</h2>
                <p class="text--large">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <a class="button button--default" href="#">více</a>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <h2>Dummy Content</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="container">
            Copyright 2016
        </div>
    </footer>
{% endblock %}
