// Images
.image--responsive {
    max-width: 100%;
    height: auto;
}

// Visibility
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.hidden {
    display: none;
}

.visible--phone-max {
    @media (min-width: @screen-tablet) {
        display: none;
    }
}

.visible--tablet-min {
    display: none;

    @media (min-width: @screen-tablet) {
        display: block;
    }
}

.visible--tablet-min {
    display: none;

    @media (min-width: @screen-tablet) {
        display: block;
    }
}

.visible--tablet-max {
    @media (min-width: @screen-desktop) {
        display: none;
    }
}

.visible--desktop-min {
    display: none;

    @media (min-width: @screen-desktop) {
        display: block;
    }
}

.visible--desktop-max {
    @media (min-width: @screen-desktop) {
        display: none;
    }
}
